# OSX
#
.DS_Store

# Xcode
#
ios/build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/Index/*
ios/.xcode.env.local

# DLP defined / Ruby / CocoaPods
ios/Pods/*
# * Needed for making bundler to scope install gems
/vendor/bundle/
!ios/Pods/Manifest.lock

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn.lock-e
# package-lock.json
# yarn.lock

# Jest
.jest
coverage
reports
/cache
test-report.xml

# We're pushing the code to our own Bitbucket server which makes it safe for us to publish the keystore files
# *.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
job.variables*
!**/fastlane/**/build

# Ignoring all "output-" files from output scripts
/output-*
# Sonar
.scannerwork

# Bundle artifact
*.jsbundle

# DLP defined
.vscode/*
docs
.expo/packager-info.json
android/app/src/main/assets/index.android.bundle
# AppConfig => Because build scripts copy it at each build
android/app/src/main/assets/www/AppConfig
# Airship properties => Because is generated and copied at each build
android/app/src/main/assets/airshipconfig.properties

android/app/src/main/res/raw/*
!android/app/src/main/res/raw/default_splashscreen.json

android/.project
android/.android
android/app/.project
*-journal
*-shm
__local__
*.sourcemap.js
metro.data.json
.vscode
android/app/gradlew.bat
/security
/tmp
/vendor
tsconfig.tsbuildinfo
jest/datalayer/debug
test.log.json
